html {
     font-family: helvetica;
     text-align: center;
}

.main div {
    background-color: aquamarine;
    padding: 3em;
    font-size: 2em;
    margin: 2em;
    font-weight: bold;
}

nav {
    background-color: indianred;
    padding: 3em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
